/* .navbar {
  display: flex;
  background-color: #1a1a1a;
  color: white;
  gap: 20px;
} */

.nav-links {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.btn {
    margin-right: 20px;
}

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: black;
  }

  .menu {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  .cart {
    font-weight: bold;
    text-decoration: none
  }
